html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eaeaea;
    margin-top: 50px;
}

body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, yellow, green);
    border-radius: 4px;
    border: 1px solid black;
}

body::-webkit-scrollbar-track{
    background: linear-gradient(45deg, white, black);
}

Header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height:fit-content;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    color: white;
    font-size: medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style: none;
    display: inline-flex;
    gap: 20px;
    font-size: medium;
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    text-decoration: none;
    color: greenyellow;
}

.logo{
    color: white;
    text-decoration: none;
    transition: 1s;
}

.logo:hover{
    color: greenyellow;
}

body.index a.index, body.def a.def, body.cont a.cont, body.func a.func, body.hist a.hist, body.nec a.nec{
    color: greenyellow;
}

article{
    margin: 60px 0 100px 0;
    padding: 0 100px 0 100px;
    font-size: large;
    text-align: justify;
}

.banner{
    width: 100%;
    max-height: 300px;
    border-radius: 0 0 75px 75px;
}

.scroller{
    background-color: rgba(173,255,47, 0.7);
    border-radius: 50px;
    width: fit-content;
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: 500ms;
}

.scroller>svg{
    text-decoration: none;
    color: black;
}

.scroller:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__input{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #786c6c;
    padding: .6em .3em;
    border: none;
    outline: none;
    border: 1px solid var(--color);
    border-radius: 4px;
    margin-bottom: 20px;
}

.form__label{
    color: var(--color);
    position: absolute;
    top: auto;
    left: 5px;
    transform: translateY(-45px);
    transition: transform .5s, color .3s;
}

.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-70px) scale(.7);
    transform-origin: top left;
    --color: green;
}

.textarea{
    width: 100%;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #786c6c;
    padding: .6em .3em;
    border: none;
    outline: none;
    border: 1px solid var(--color);
    border-radius: 4px;
}

.textarea__label{
    color: var(--color);
    position: absolute;
    top: auto;
    left: 5px;
    transform: translateY(-100px);
    transition: transform .5s, color .3s;
}

.textarea:focus + .textarea__label, .textarea:not(:placeholder-shown) + .textarea__label{
    transform: translateY(-120px) scale(.7);
    transform-origin: top left;
    --color: green;
}

input[type=submit]{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color:  #4CAF50;
    color: white;
    cursor: pointer;
}

.box{
    margin: 10px;
    padding: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas:"titulo imagen"
                        "redes imagen";
    gap: 20px 50px;
}

.title{
    display: grid;
    grid-area: titulo;
    font-size: xx-large;
}

.myImg{
    display: grid;
    grid-area: imagen;
    width: 700px;
    height: 400px;
}

.redes{
    grid-area: redes;
    justify-content: left;
    
}