<footer>
    <div>
        ©El Backend - AR, DM, AG 2022
    </div>
    <a href="https://www.urbe.edu/"><img src="./imgs/logo-urbe5-sinfondo.gif" alt="Urbe" width="75px" height="75px" loading="lazy"></a>
    <div align="right">
        Tecnologías Web N-1113
    </div>
    <div class="scroller">
        <a href="#" id="scroller">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
        </a>
    </div>
</footer>