<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div>
            <a href="index.html" class="logo index">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
                    <path d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z"/>
                    <path d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z"/>
                    <path d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z"/>
                </svg>
                El Backend
            </a>
        </div>
        <ul class="media">
            <li><a href="definicion.html" class="def">Definición</a></li>
            <li><a href="funcion.html" class="func">Función</a></li>
            <li><a href="historia.html" class="hist">Historia</a></li>
            <li><a href="necesidad.html" class="nec">Importancia</a></li>
            <li><a href="contacto.html" class="cont">Contacto</a></li>
        </ul>
    
        <div class="burguer" style="margin-right: 3vh; margin-top: .5vh;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>
        <div class="close" style="margin-right: 3vh; margin-top: .5vh;" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
    </header>
</body>
</html>

<script>

    let burguer = document.querySelector(".burguer");
    burguer.onclick = function(){
        let menu = document.querySelector(".media");
        menu.style.transform = "translateY(375px)";
        console.log("CLICKED");
        burguer.hidden = true;
        burguer.disabled = true;
        document.querySelector(".close").hidden = false;
    }

    let close = document.querySelector(".close");
    close.onclick = function(){
        let menu = document.querySelector(".media");
        menu.style.transform = "translateY(-35vh)";
        console.log("CLOSED");
        close.hidden = true;
        close.disabled = true;
        document.querySelector(".burguer").hidden = false;
    }
</script>